<div class="p-6 bg-white rounded-xl flex items-center gap-x-4 shadow-2xl" {{on "click" this.flip}}>
    <div>
        <div class="text-xl font-medium text-black {{if this.isFlipped "text-sky-700"}}">{{@title}}</div>
        <p class="text-slate-500">{{@description}}</p>
        <!--this and helper is required to have "ember install ember-truth-helpers" !-->
        {{#if (and this.isFlipped @code1)}}
            <div class="p-6">
                <pre class="bg-sky-50"><code>{{@code1}}</code></pre>
                <br>
                {{#if (not @noRender)}}
                {{{@code1}}}
                {{/if}}
                {{#if @code2}}
                    <br>
                    <pre class="bg-sky-50"><code>{{@code2}}</code></pre>
                    <br>
                    {{#if (not @noRender)}}
                        {{{@code2}}}
                    {{/if}}
                {{/if}}
                {{#if @code3}}
                    <br>
                    <pre class="bg-sky-50"><code>{{@code3}}</code></pre>
                    <br>
                    {{#if (not @noRender)}}
                    {{{@code3}}}
                    {{/if}}
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>

{{yield}}